<p id="notice"><%= notice %></p>
<ul>
<% @users.each do |f| %>
<li>
	<span class="content">
	<%= f.name %>
  <%= image_tag f.picture.url if f.picture? %>
</span><br />
</li>


<% end %>
</ul>

<%= render 'img_upload' %>








